*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}

main {
    height:100vh;
    background-color: antiquewhite;
}

footer{
    background-color:blueviolet;
    margin-bottom: 0;
}

p{
    margin: 0;
}

