*{
    margin:0;
    padding :0;
    box-sizing: border-box;
}

main {
    /* height:100vh; */
    background-color: antiquewhite;
    /* display: flex; */
}

footer{
    background-color:blueviolet;
    margin-bottom: 0;
}

p{
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: fit-content;
    background-color: blueviolet;
    padding: 2em;
    border-radius: 15px;
/* position: absolute; */
}

.cardscontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}